<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Perez - Personal Portfolio HTML Template</title>
       <%- include('../partials/head') %>
</head>

<body>
    <div class="overflow-x-hidden">
            <%- include('../partials/menu') %>
      

       <%- include('../partials/footer') %>
     
</body>

</html>